.hero-wrapper {
  background-image: linear-gradient(
    to top right,
    rgba(255, 255, 255, 1) 50%,
    rgba(253, 197, 94, 1) 230%
  );
}

.text-black {
  color: #191919;
}

.text-red {
  color: #f54748;
}

.text-yellow {
  color: #fdc55e;
}
