.why-foodhut__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -28rem;
}

.why-foodhut__img img {
  width: 78rem;
  height: 125rem;
}

.why-foodhut__info {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 75rem;
  margin-top: -8rem;
  position: absolute;
  gap: 3rem;
}

.why-foodhut__title {
  font-size: 4rem;
  font-weight: 800;
  width: 70%;
  line-height: 8rem;
}

.why-foodhut__paragrapth {
  width: 90%;
}
.why-foodhut__paragrapth p {
  font-size: 1.8rem;
  color: #191919;
  line-height: 3rem;
  font-weight: 300;
}

.why-foodhut__services {
  display: flex;
  align-items: center;
  gap: 11rem;
}

.services-left,
.services-right {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.services-left,
.services-right span {
  font-size: 1.8rem;
  font-weight: 700;
}

.why-foodhut__service {
  display: flex;
  align-items: center;
  gap: 1.3rem;
}

.about-us {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  background-color: #f54748;
  color: #e5e5e5;
  border-radius: 30px;
  position: absolute;
  margin-top: 50.1rem;
}

/* 
Colors
black => #191919;
red => #f54748;
Yellow => #FDC55E
White => #E5E5E5
*/
