.footer-foodhut {
  display: flex;
  gap: 10rem;
  align-items: center;
  justify-content: space-around;
  height: 43.3rem;
  padding: 7.6rem 13rem;
  margin-top: 6rem;
}

.footer-foodhut__foodhut {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 32.5rem;
}

.footer-foodhut__foodhut h3 {
  font-size: 3.2rem;
  font-weight: 500;
  color: #f54748;
}

.footer-foodhut__foodhut p {
  font-size: 1.5rem;
  line-height: 3rem;
}

.footer-foodhut__media {
  display: flex;
  align-items: center;
  gap: 1.8rem;
}

.footer-foodhut__links {
  display: flex;
  gap: 8rem;
}

.footer-foodhut__link {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer-foodhut__link strong {
  font-size: 1.8rem;
  font-weight: 500;
  color: #f54748;
  margin-bottom: 1.5rem;
}

.footer-foodhut__link a {
  font-size: 1.5rem;
  font-weight: 300;
}

.footer-foodhut__link p {
  width: 37.9rem;
}

.get-in__touch p {
  font-size: 1.5rem;
  line-height: 3rem;
  font-weight: 300;
}

.subscrive {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-top: 2rem;
}

.subscrive input {
  border: solid 0.5px #191919;
  border-radius: 30px;
  padding: 1rem 2rem;
  outline: none;
}

.subscrive input::placeholder {
  font-size: 1.8rem;
}

.subscrive a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  background-color: #f54748;
  color: #e5e5e5;
  border-radius: 30px;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright span {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 300;
}

/* 
Colors
black => #191919;
red => #f54748;
Yellow => #FDC55E
White => #E5E5E5
*/
