* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 53%;
  font-family: poppins, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

a {
  font-weight: 500;
  text-decoration: none;
  color: #191919;
}

li {
  list-style: none;
}

/* button:focus,
button:focus-visible {
  outline: 2px auto -webkit-focus-ring-color;
} */
